simplejson==3.17.0
requests==2.23.0
slack==0.0.2
slackclient==2.6.2
jsonify==0.5
google-auth-oauthlib==0.4.1
google-api-python-client==1.8.4
urlextract==0.14.0
spotipy==2.12.0
Flask==1.1.2
pycodestyle==2.6.0
autopep8==1.5.3